:root {
  --highlight: #141926;
  --primary: #129fc0;
  --off-white: #f6f6f6;
  --sans: "Roboto", sans-serif;
}

body {
  font-family: var(--sans);
  margin: 0px;
  background-color: var(--off-white);
}

.nav {
  width: 100vw;
  height: 150px;
  background-color: var(--highlight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .logo {
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 42px;
}

.content {
  border-radius: 3px;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 9%);
  width: 80%;
  padding: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;
  margin-bottom: 42px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

svg.headline {
  width: 80vw;
}
svg.headline .text {
  display: none;
}
svg.headline.text-animation .text {
  font-family: var(--sans);
  font-size: 34px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}
svg.headline.text-animation .text-stroke {
  fill: none;
  stroke: var(--highlight);
  stroke-width: 4px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 3s ease-in-out forwards;
}
svg.headline.text-animation .text-stroke:nth-child(2) {
  animation-delay: 0.5s;
}
svg.headline.text-animation .text-stroke:nth-child(3) {
  animation-delay: 1s;
}
svg.headline.text-animation .text-stroke-2 {
  stroke: var(--primary);
  animation-delay: 1.25s;
}
svg.headline.text-animation .text-stroke:nth-child(5) {
  animation-delay: 1.75s;
}
svg.headline.text-animation .text-stroke:nth-child(6) {
  animation-delay: 2s;
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
